<head>
    <title>Sapatos Zerg</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

    <div class="bg-success container-fluid p-5 bg-primary text-white text-center">
        <h1>Loja de Sapatos - Zerg</h1>
        <p>Bem vindo!</p>
    </div>

    <div class="container" id="partecadastro">
        <h3 class="text-left mt-3"> Digite seu e-mail e senha para entrar na loja: </h3>
        <hr>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha">
        </div>
        <button id="btnEntrar" onclick="validar();" class="btn btn-success">Entrar</button>
    </div>


</body>