<div class="bg-success container-fluid p-3 bg-primary text-white text-center">
    <h1>Loja de Sapatos - Zerg</h1>
    <p>Cadastre um modelo</p>
</div>


    <div class="text-left">
        <p>
            <div class="form-group">
                <h5>Dados do Modelo </h5>
                <p>
                <label for="InputCor">Cor</label>
                <input type="text" class="form-control" id="InputCor" aria-describedby="emailHelp" placeholder="Digite a cor do modelo">

            </div>
            <div class="form-group">
                <label for="inputTamanho">Tamanho</label>
                <select id="inputTamanho" class="form-control">
                    <option selected>Selecionar...</option>
                    <option>...</option>
                </select>
                <br />
                <button type="button" class="btn btn-outline-success">Cadastrar</button>
            </div>
                
    </div>
