<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sapato</title>

    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">CADASTRO DE MODELO</h3>
            </div>

            <div class="panel-body">

                <form action="#" class="form-horizontal">
                    <fieldset>
                        <legend>Dados</legend>
                        <div class="form-group">
                            <label for="nome" class="col-sm-2 control-label">Fornecedor</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="nome">
                                <button>Pesquisar</button>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="data-nascimento" class="col-sm-2 control-label">Código de Referencia</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="data-nascimento">
                            </div>
                        </div>
                    </fieldset>
                    <br>
                    <fieldset>
                        <legend>Modelo</legend>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Cor</label>
                            <div class="col-sm-4">
                                <input type="email" class="form-control" id="email">
                            </div>
                        </div>

                        <label for="uf" class="col-sm-2 control-label">Tamanho</label>
                        <div class="col-sm-4">
                            <select class="form-control" name="uf" id="uf">
                                <option>31</option>
                                <option>30</option>
                                <option>31</option>
                                <option>32</option>
                                <option>33</option>
                                <option>34</option>
                                <option>35</option>
                                <option>36</option>
                                <option>37</option>
                                <option>38</option>
                                <option>39</option>
                                <option>40</option>
                                <option>41</option>
                                <option>42</option>
                                <option>43</option>
                                <option>44</option>
                            </select>
                    </fieldset>
                    <br>
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Cadastrar
                    </button>
                </form>
            </div>
        </div>
    </div>

    <script src="resources/js/jquery.min.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>
</body>
</html>