@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-success container-fluid p-3 bg-primary text-white text-center">
    <h1>Loja de Sapatos - Zerg</h1>
    <p>Bem vindo a Sapatos Zerg</p>
</div>