@{
    ViewData["Title"] = "Loja Sapatos - Zerg";
}

<html>
<head>
    <meta charset="utf-8" />
    <title>Sapatos Zerg</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="bg-success container-fluid p-5 bg-primary text-white text-center">
        <h1>Loja de Sapatos - Zerg</h1>
        <p>Bem vindo!</p>
    </div>
    <br/>
    <div class="row">
        <div class="card col-sm-2" style="width: 17rem;" id="card">
            <img class="card-img-top" src="https://i.ibb.co/zQvG9KD/Sapato-1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Sapato 1</h5>
                <p>R$10,00</p>
                <a href="#" class="btn btn-success">Mais detalhes aqui</a>
            </div>
        </div>
        <div class="card col-sm-2" style="width: 17rem;" id="card">
            <img class="card-img-top" src="https://i.ibb.co/Hgv6wxT/Sapato-2.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Sapato 2</h5>
                <p>R$10,00</p>
                <a href="#" class="btn btn-success">Mais detalhes aqui</a>
            </div>
        </div>
        <div class="card col-sm-2" style="width: 17rem;" id="card">
            <img class="card-img-top" src="https://i.ibb.co/5GhjX7y/Sapato-3.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Sapato 3</h5>
                <p>R$10,00</p>
                <a href="#" class="btn btn-success">Mais detalhes aqui</a>
            </div>
        </div>
        <div class="card col-sm-2" style="width: 17rem;" id="card">
            <img class="card-img-top" src="https://i.ibb.co/HxrCxnQ/Sapato-4.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Sapato 4</h5>
                <p>R$10,00</p>
                <a href="#" class="btn btn-success">Mais detalhes aqui</a>
            </div>
        </div>
    </div>
</body>
</html>
