@{
    ViewData["Title"] = "Loja Sapatos - Zerg";
}

<meta charset="utf-8" />
<title>Sapatos Zerg</title>

<div class="bg-success container-fluid p-3 bg-primary text-white text-center">
    <h1>Loja de Sapatos - Zerg</h1>
    <p>Menu</p>
</div>
<br />
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="https://i.ibb.co/zQvG9KD/Sapato-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sapato 1</h5>
                <p class="card-text"> Uma descrição mais detalhada do produto</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-outline-success">Mais detalhes aqui</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="https://i.ibb.co/Hgv6wxT/Sapato-2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sapato 2</h5>
                <p class="card-text"> Uma descrição mais detalhada do produto</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-outline-success">Mais detalhes aqui</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="https://i.ibb.co/5GhjX7y/Sapato-3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sapato 3</h5>
                <p class="card-text"> Uma descrição mais detalhada do produto</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-outline-success">Mais detalhes aqui</a>
            </div>
        </div>
    </div>
</div>